# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

C:\Users\anton\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
num_col_list = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'int64'].index)
encoded_df = pd.concat([applicant_data_df[num_col_list],encoded_df],axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
display(y.head())
display(y.value_counts())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  180

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

180

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  130

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

130

In [18]:
# Create the Sequential model instance
nn = Sequential()

In [19]:
# Add the first hidden layer
nn.add(Dense(input_dim=number_input_features,units=hidden_nodes_layer1,activation='relu'))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2,activation='relu'))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1,activation='sigmoid'))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 180)               21060

 dense_1 (Dense)             (None, 130)               23530

 dense_2 (Dense)             (None, 1)                 131

=================================================================
Total params: 44,721
Trainable params: 44,721
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [24]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 50364.3711 - accuracy: 0.5025
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 47851.7773 - accuracy: 0.5053
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 15493.4111 - accuracy: 0.5028
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 16646.4980 - accuracy: 0.5033
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 23843.0781 - accuracy: 0.5026
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 6026.5962 - accuracy: 0.5058
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 1390.3193 - accuracy: 0.5074
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 281.4842 - accuracy: 0.5229
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5338
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5338
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6912 - accuracy: 0.5338
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5338
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6913 - accuracy: 0.5338
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5325
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6912 - accuracy: 0.5338
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6916 - accuracy: 0.5283 - 540ms/epoch - 2ms/step
Loss: 0.6915661096572876, Accuracy: 0.5282799005508423

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In the first model we insert 4 hidden layers and increase the number of epochs to 100

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 232

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

232

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(input_dim=116,units=hidden_nodes_layer1_A1,activation='relu'))
nn_A1.add(Dense(input_dim=232,units=232,activation='relu'))
nn_A1.add(Dense(input_dim=116,units=116,activation='relu'))
nn_A1.add(Dense(input_dim=116,units=116,activation='relu'))

# Output layer
nn_A1.add(Dense(1,activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 232)               27144

 dense_4 (Dense)             (None, 232)               54056

 dense_5 (Dense)             (None, 116)               27028

 dense_6 (Dense)             (None, 116)               13572

 dense_7 (Dense)             (None, 1)                 117

=================================================================
Total params: 121,917
Trainable params: 121,917
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 38236.9062 - accuracy: 0.4911
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 17774.5684 - accuracy: 0.4970
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 28486.8672 - accuracy: 0.4884
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 3669.8555 - accuracy: 0.4921
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 5462.4912 - accuracy: 0.5014
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 2942.2341 - accuracy: 0.5056
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 625.7853 - accuracy: 0.5052
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 113.6154 - accuracy: 0.5139
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6924 - accuracy: 0.5338
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5338
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5338
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5338

#### Alternative Model 2

Despite the increased complexity the previous model didn't perform much better than the first one. We try then by keeping the same architecture of the first model and eliminating some of the features. 
Therefore we'll try by dropping the 'special considerations' columns.

In [34]:
# display the features
X_train.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
2381,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7580,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7515,1,17195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10356,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24325,1,2168130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [35]:
# we select the last to columns related to special considerations
to_drop = list(X_train.columns[-2:])
to_drop

['SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [36]:
X_train_2 = X_train.drop(columns=to_drop)
X_test_2 = X_test.drop(columns=to_drop)
display(X_train_2.head())
display(X_test_2.head())

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
2381,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7580,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7515,1,17195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10356,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24325,1,2168130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
7789,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28718,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2291,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19067,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4387,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_2.iloc[0])

# Review the number of features
number_input_features

114

In [38]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 180

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

180

In [40]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [41]:
# First hidden layer
nn_A2.add(Dense(input_dim=number_input_features,units=hidden_nodes_layer1_A2,activation='relu'))
nn_A2.add(Dense(units=130,activation='relu'))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(1,activation='sigmoid'))
# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 180)               20700

 dense_9 (Dense)             (None, 130)               23530

 dense_10 (Dense)            (None, 1)                 131

=================================================================
Total params: 44,361
Trainable params: 44,361
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [43]:
# Fit the model
nn_A2.fit(X_train_2,y_train,epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 145723.9844 - accuracy: 0.5093
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 37065.5000 - accuracy: 0.5036
Epoch 3/20
804/804 [==============================] - 1s 1ms/step - loss: 10326.8379 - accuracy: 0.5147
Epoch 4/20
804/804 [==============================] - 1s 1ms/step - loss: 5340.4312 - accuracy: 0.5094
Epoch 5/20
804/804 [==============================] - 1s 1ms/step - loss: 8162.7056 - accuracy: 0.4962
Epoch 6/20
804/804 [==============================] - 1s 1ms/step - loss: 20723.8262 - accuracy: 0.4979
Epoch 7/20
804/804 [==============================] - 1s 1ms/step - loss: 3530.0669 - accuracy: 0.4941
Epoch 8/20
804/804 [==============================] - 1s 1ms/step - loss: 5465.3989 - accuracy: 0.5091
Epoch 9/20
804/804 [==============================] - 1s 1ms/step - loss: 140.8501 - accuracy: 0.5332
Epoch 10/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 11/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 12/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 13/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 15/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5338
Epoch 16/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 17/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 18/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 19/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338
Epoch 20/20
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5338

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [44]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 1ms/step - loss: 0.6916 - accuracy: 0.5283
Loss: 0.6915661096572876, Accuracy: 0.5282799005508423

In [45]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 1s 1ms/step - loss: 0.6919 - accuracy: 0.5283
Loss: 0.691853940486908, Accuracy: 0.5282799005508423

In [46]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_2,y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 1s 1ms/step - loss: 0.6917 - accuracy: 0.5283
Loss: 0.6916530132293701, Accuracy: 0.5282799005508423

Accuracy is pretty much the same for all the three models, being 0.5284. This accuracy is very low, meaning that for a balanced dataset like this characterized by binary classification, a random choice would perform similarly.

### Step 3: Save each of your alternative models as an HDF5 file.

In [47]:
# Set the file path for the first alternative model
file_path = Path('./Resources/AlphabetSoup2.h5')

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [48]:
# Set the file path for the second alternative model
file_path = Path('./Resources/AlphabetSoup2.h5')

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)